version: "3.9"

services:
  api:
    build:
      context: .
      dockerfile: api/Dockerfile
    container_name: heart-api
    ports:
      - "8000:8000"
    restart: unless-stopped

  streamlit:
    build:
      context: .
      dockerfile: streamlit/Dockerfile
    container_name: heart-streamlit
    ports:
      - "8501:8501"
    depends_on:
      - api
    restart: unless-stopped
